[core]
	legacyheaders = false
	quotepath = false
	pager = less -+$LESS -FRX
	autocrlf = false #true false input
	safecrlf = true # true false warn
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	editor = vi
[user]
	name = nil
	email = your@email.com
#	signingkey = public gpg key
#[commit]
#	gpgsign = true
[diff]
	tool = diff
[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	aliases = config --get-regexp alias
	ll = log --graph --oneline --decorate --abbrev-commit --pretty=tformat:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(auto)(%cr, %an, %G?)%Creset'
	l = log --stat --decorate --abbrev-commit --pretty=fuller
	sp = submodule update --recursive --init
	sf = submodule foreach git submodule update --recursive --init
[color]
	ui = auto
[gist]
	private = no
	browse = no
[push]
	default = simple
	followTags = true
[pull]
	default = simple
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
