! xterm setting
xterm*termName:             xterm-256color
xterm*geometry:             110x30
xterm*scrollBar:            false
xterm*loginshell:           true
xterm.cursorBlink:          true
xterm*borderLess:           true
xterm*cursorBlink:          true
xterm*borderWidth:          0

xterm*saveLines:            4096
xterm*eightBitInput:        false
xterm*altSendsEscape:       true
xterm*metaSendsEscape:      true

XTerm*renderFont:           true
xterm*locale:               true
xterm*utf8:                 true
xterm*utf8Title:            true
XTerm*faceName:             DejaVu Sans Mono:antialias=true
XTerm*faceNameDoublesize:   Source Han Sans CN:antialias=false
xterm*faceSize:             10
XTerm*cjkWidth:             false

#include                    ".Xresources.d/monokai"
!#include                   ".Xresources.d/solarized"

! emacs gui
Emacs.geometry:             120x42+20+10
