#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

AcceptEnv LANG LC_* COLORTERM

Subsystem   sftp    /usr/lib/openssh/sftp-server

Protocol 2
UsePAM yes
UseDNS no
#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
AddressFamily inet
PermitRootLogin no
PasswordAuthentication no
SyslogFacility AUTHPRIV
AuthorizedKeysFile  .ssh/authorized_keys
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePrivilegeSeparation sandbox
ClientAliveInterval 60
Port your-port
Match User user-name
    X11Forwarding no
    PermitTTY yes
