[Unit]
Description=clash service
After=network-online.target network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/etc/clash/clash -d /etc/clash/
ExecStartPost=/usr/bin/bash /etc/clash/clash-redir-iptables.sh add
ExecStopPost=/usr/bin/bash /etc/clash/clash-redir-iptables.sh remove
Restart=on-failure
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
